altgraph==
annotated-types==
anyio==
attrs==
beautifulsoup4==
blinker==
certifi==
cffi==
charset-normalizer==
click==
colorama==
dearpygui==
dearpygui-ext==
et-xmlfile==
exceptiongroup==
fastapi==
Flask==
h11==
idna==
itsdangerous==
Jinja2==
joblib==
keyboard==
MarkupSafe==
mouse==
MouseInfo==
nltk==
numpy==
openpyxl==
orjson==
outcome==
pandas==
pefile==
Pillow==
psutil==
PyAutoGUI==
pycparser==
pydantic==
pydantic_core==
PyGetWindow==
pyinstaller==
pyinstaller-hooks-contrib==
pyMeow==
PyMsgBox==
pyperclip==
PyRect==
PyScreeze==
PySocks==
python-dateutil==
pytweening==
pytz==
pywhatkit==
pywin32==
pywin32-ctypes==
regex==
requests==
selenium==
six==
sniffio==
sortedcontainers==
soupsieve==
starlette==
textblob==
tqdm==
trio==
trio-websocket==
typing_extensions==
tzdata==
urllib3==
uvicorn==
Werkzeug==
wikipedia==
wsproto==
